# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.packages
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Conventional directory for build outputs
build/

# Ignore the flutter web app directory
web/app

# Directory created by dartdoc
doc/api/

# Passwords file
config/passwords.yaml

# Firebase service account key for Firebase auth
config/firebase_service_account_key.json

# env
.env